
body{
    font-family: Helvetica;
}

#NomeProf{
    color: rgb(23, 36, 160);
}


#MainInformation{
    margin-left: 3rem;
    width: 20%;
}


#Research{
    position:absolute;
    top: 30px;
    left: 350px;
    background-color: lightgray;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid darkblue;
    border-radius: 15px;
    display: inline;
    
}

a{
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    
}

a:hover{
    background-color: rgb(243, 243, 146);
    text-decoration: underline;
}

.ParagraphTitle{
    background-color: rgb(11,122,115);
    color: white;
    padding: 3px;
    padding-left: 10px;
}

#didattica{
    position: absolute;
    top: 1700px;
}

#redBar{
    padding: 4px;
    background-color: red;
    left: 100px;
}

#didatticaTitle{
    text-decoration: underline;
    font-family: sans-serif;

}

#tesi{
}

.headers{
    font-weight: bold;
}

.AnniHeader{
    font-size: x-large;
    color: rgb(241, 83, 83);
}

.tableTitle{
    font-weight: bold;
}

.tables{
   
}