
body{
    font-family: Helvetica;
}

#NomeProf{
    color: rgb(23, 36, 160);
}


#MainInformation{
    margin-left: 3rem;
    width: 20%;
}


#Research{
    position:absolute;
    top: 30px;
    left: 350px;
    background-color: lightgray;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid darkblue;
    border-radius: 15px;
    
}

a{
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    
}

a:hover{
    background-color: rgb(243, 243, 146);
    text-decoration: underline;
}

.ParagraphTitle{
    background-color: rgb(11,122,115);
    color: white;
    padding: 3px;
    padding-left: 10px;
}